body{
    background-color: #222426;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    width: 100%; 
    height: 40px; 
    display: flex;
    color: #F2F2F2;
    background-color: #4D5359;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}   
h1{
    height: 100%;
    display: flex;
    
    margin-left: 50%;
    margin-bottom: 0%;
    margin-top: 0%;
}

.barra{
    background-color: #4D5359;
    width: 100%; 
    height: 40px; 
    margin-top: 0px;
    margin-bottom: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.menu {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
}

.menu li {
    margin: 0;
    width: 25%;
    text-align: center;
}

.menu a {
    color: #F2F2F2;
    text-decoration: none;
    padding: 10px 20px;
}
a:hover {
    background-color: #222426;
    cursor: pointer;
    border-radius: 5px;
}

.cuerpo{
    display: flex;
    width: 100%;
    margin: 0px;
    padding: 5px;
}
.acerca{
    width: 100%;
    display: flex;
    border-color: #222426;
    border: 2px solid;
    border-radius: 5px;
    padding: 2%;
    background-color: #4D5359;

}
.foto{
    width: 150px;
    height: 150px;
    border-radius: 5px;
}
.texto{
    display: flex;
    margin-left: 5px;
    color: #F2F2F2;
    flex-direction: column;
}
.textoExperiencia{
    width: 100%;
    display: flex;
    margin-left: 5px;
    color: #F2F2F2;
}
footer{
    width: 100%;
    text-align: center;
}
.experiencia{
    width: 100%;
    margin: 5px;
}

@media (max-width: 768px){
    .menu{
        flex-direction: column;
    }
    .barra{
        height: 125px;
    }
    .menu li{
        margin: 5px;
        width: 40%;
    }
    .acerca{
        flex-direction: column;
    }
    .textoExperiencia{
        flex-direction: column;
    }
}